mixin trash(link)
  .trash
    a.btn.btn-sm.btn-outline-primary.trash-link.d-flex.align-items-center.fs-6.m-3(
      href=`${prefixAdmin}/${link}/trash`
    )
      i(class="bi bi-trash")
      span Thùng rác