footer#footer.footer
  .container
    .row.gy-3
      .col-lg-3.col-md-6.d-flex
        i.bi.bi-geo-alt.icon
        div
          h4 Address
          p
            | Xuân Phương
            br
            | Nam Từ Liêm, Hà Nội
            br
      .col-lg-3.col-md-6.footer-links.d-flex
        i.bi.bi-telephone.icon
        div
          h4 Contact
          p
            strong Phone: +84389843271
            br
            strong Email: han20031605@gmail.com
            br
      .col-lg-3.col-md-6.footer-links.d-flex
        i.bi.bi-clock.icon
        div
          h4 Opening Hours
          p
            strong Mon-Sun: 11AM
            | - 23PM
      .col-lg-3.col-md-6.footer-links
        h4 Follow Us
        .social-links.d-flex
          a.twitter(href='#')
            i.bi.bi-twitter
          a.facebook(href='https://www.facebook.com/profile.php?id=100040465268402' target="_blank")
            i.bi.bi-facebook
          a.instagram(href='#')
            i.bi.bi-instagram
          a.github(href='https://github.com/han2003dz' target="_blank")
            i(class="bi bi-github")
  .container
    .copyright
      | &copy; Copyright 
      strong
        span ByteBazaar
      | . All Rights Reserved
    .credits
      | Designed by 
      a(href='https://bootstrapmade.com/') HanNguyen
// End Footer
