mixin slide()  
  // ======= Testimonials Section =======
  section#testimonials.testimonials.section-bg.mt-4
    .container(data-aos='fade-up')
      .section-header
        h2 Testimonials
        p
          | What Are They 
          span Saying About Us
      .slides-1.swiper(data-aos='fade-up' data-aos-delay='100')
        .swiper-wrapper
          .swiper-slide
            .testimonial-item
              .row.gy-4.justify-content-center
                .col-lg-6
                  .testimonial-content
                    p
                      i.bi.bi-quote.quote-icon-left
                      | Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                      i.bi.bi-quote.quote-icon-right
                    h3 Saul Goodman
                    h4 Ceo &amp; Founder
                    .stars
                      i.bi.bi-star-fill
                      i.bi.bi-star-fill
                      i.bi.bi-star-fill
                      i.bi.bi-star-fill
                      i.bi.bi-star-fill
                .col-lg-2.text-center
                  img.img-fluid.testimonial-img(src='assets/img/testimonials/testimonials-1.jpg' alt='')
          // End testimonial item
          .swiper-slide
            .testimonial-item
              .row.gy-4.justify-content-center
                .col-lg-6
                  .testimonial-content
                    p
                      i.bi.bi-quote.quote-icon-left
                      |                         Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                      i.bi.bi-quote.quote-icon-right
                    h3 Sara Wilsson
                    h4 Designer
                    .stars
                      i.bi.bi-star-fill
                      i.bi.bi-star-fill
                      i.bi.bi-star-fill
                      i.bi.bi-star-fill
                      i.bi.bi-star-fill
                .col-lg-2.text-center
                  img.img-fluid.testimonial-img(src='assets/img/testimonials/testimonials-2.jpg' alt='')
          // End testimonial item
          .swiper-slide
            .testimonial-item
              .row.gy-4.justify-content-center
                .col-lg-6
                  .testimonial-content
                    p
                      i.bi.bi-quote.quote-icon-left
                      |                         Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                      i.bi.bi-quote.quote-icon-right
                    h3 Jena Karlis
                    h4 Store Owner
                    .stars
                      i.bi.bi-star-fill
                      i.bi.bi-star-fill
                      i.bi.bi-star-fill
                      i.bi.bi-star-fill
                      i.bi.bi-star-fill
                .col-lg-2.text-center
                  img.img-fluid.testimonial-img(src='assets/img/testimonials/testimonials-3.jpg' alt='')
          // End testimonial item
          .swiper-slide
            .testimonial-item
              .row.gy-4.justify-content-center
                .col-lg-6
                  .testimonial-content
                    p
                      i.bi.bi-quote.quote-icon-left
                      |                         Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                      i.bi.bi-quote.quote-icon-right
                    h3 John Larson
                    h4 Entrepreneur
                    .stars
                      i.bi.bi-star-fill
                      i.bi.bi-star-fill
                      i.bi.bi-star-fill
                      i.bi.bi-star-fill
                      i.bi.bi-star-fill
                .col-lg-2.text-center
                  img.img-fluid.testimonial-img(src='assets/img/testimonials/testimonials-4.jpg' alt='')
          // End testimonial item
        .swiper-pagination
  // End Testimonials Section