header.header
  .container-fluid
    .row.align-items-center.navbar
      .col-2
        .inner-logo
          a(href="/admin/dashboard") ADMIN

      .col-6
      .col-4
          div(class="text-right")
            a(
              href=`${prefixAdmin}/auth/login`
              class="btn btn-success btn-sm"
            ) Đăng nhập